.habitItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .habitName {
    flex-grow: 1; /* Take up remaining space */
    font-size: 16px;
  }
  .deleteButton{
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 14px;
      margin-left: 5px;
  }